@tailwind base;
@tailwind components;
@tailwind utilities;


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    /* border: 1px solid black; */
}

@layer components {
    .radial-gradient-bg {
        background: radial-gradient(circle, rgba(63, 54, 30, 0.8) 0%, rgba(163, 134, 102, 0.8) 100%);
    }
    

    .forms-gradient-bg {
        background: radial-gradient(circle, rgba(115, 151, 129, 0.8) 0%, rgba(26, 77, 46, 0.8) 100%);
    }    

    .carousel-gradient-bg {
        background: linear-gradient(to bottom, rgba(232, 223, 202, 0.8) 0%, rgba(192, 171, 112, 0.8) 100%);
    }    
}